{% extends "base.html" %}


{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}

    <script>
        function change(id){
            document.getElementById(id).style.background = '#FFA500';
        }
    </script>

    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>



    <a href="{% url 'revizie' %}">Adauga locatie</a>
    {% if siteExists == 'true' %}
        {% for entryLocatie in locatiiDatabase %}
            <div class="locationEntry">
                {% if entryLocatie.exported == True %}
                    <h3 style="color:green"> {{ entryLocatie }} </h3>
                {% else %}
                    <h3> {{ entryLocatie }} </h3>
                {% endif %}
                <form method="post" action="{% url 'magazinRedirect' %}">
                    {% csrf_token %}
                    <input type="text" hidden value="{{entryLocatie.locatie}}" name="location">
                    <input type="submit" value="editeaza">
                </form>

                <form method="post" action="{% url 'deleteSiteRequest' %}">
                    {% csrf_token %}
                    <input type="text" hidden value="{{entryLocatie.locatie}}" name="location">
                    <input type="submit" style="color:red" value="sterge">
                </form>

                <form method="post" action="{% url 'pdfExport' %}">
                    {% csrf_token %}
                    <input type="text" hidden value="{{entryLocatie.locatie}}" name="location">
                    <input id="submitButton{{entryLocatie.locatie}}" type="submit" style="color:blue;" value="PDF" onmousedown="change(this.id)">
                </form>
            </div>
        {% endfor %}

    {% endif %}


{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}