

#loginPannel{
    font-family: helvetica;
    margin-top: 10vw;
    margin-left: 20vw;
    margin-right: 20vw;
    padding-bottom: 5vw;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #4a4a5433;
    background: url("/static/background.png") fixed no-repeat right;
    background-size: 100% 80%;

}

h2{
    align-self: center;
}

form{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    align-self: center;
}

div{
    margin: 0.5vw;
}